<p>Hello,</p>
<p>{{userName}} <b>has decided to share their data</b> with {{userNameDestiny}}. We have sent access instructions to {{userNameDestiny}}</p>
<p>If you have any doubts or questions about <a href="{{client_server}}">Dx29</a>, please reply to this email.</p>
<p>Thank you very much for using Dx29. Find out how you can help more families with <a href="https://www.dx29.ai/?utm_medium=email&utm_source=patient_physician&utm_campaign=data_sharing">dx29.ai</a>.</p>
<p>Sincerely,</p>
