<html>
  <head>

  </head>
<body>
  <div>
    {{{body}}}
  </div>
</body>
  <footer>
    <div>
      <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border-style:none;">
        <tbody>
          <tr>
            <td rowspan="4" style="padding:0 5.4pt;">
              <img height="40" width="108" src="https://www.dx29.ai/assets/img/logo-foundation-twentynine-footer.png" alt="Dx29">
            </td>
            <td style="padding:0 5.4pt;">
              <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;"><span lang="es" style="font-size:9pt;">Carlos Mascias</span><span lang="es" style="font-size:9pt;"></span></p>
            </td>
          </tr>
          <tr>
            <td style="padding:0 5.4pt;">
              <p style="font-size:11pt;font-family:Calibri,sans-serif;vertical-align:baseline;margin:0;">
              <span lang="es" style="font-size:9pt;">Medical Director</span></p>
            </td>
          </tr>
          <tr>
            <td style="padding:0 5.4pt;">
              <p style="font-size:11pt;font-family:Calibri,sans-serif;vertical-align:baseline;margin:0;">
              <span lang="es" style="font-size:9pt;"><a href="mailto:carlos.mascias@foundation29.org" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"><span style="color:#0563C1;">carlos.mascias</span><span style="color:#0563C1;">@foundation29.org</span></a>
              </span><span lang="es" style="font-size:9pt;"></span></p>
            </td>
          </tr>
          <tr>
            <td style="padding:0 5.4pt;">
              <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;"><span lang="es" style="font-size:9pt;"><a href="https://foundation29.org/" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"><span style="color:#0563C1;">foundation29.org</span></a>&nbsp;|
              <a href="http://www.dx29.ai/" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"><span style="color:#0563C1;">dx</span><span style="color:#0563C1;">29.ai</span></a></span><span lang="es" style="font-size:9pt;"></span></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="margin-top: 3em;">
      <h4>© 2020 Foundation 29 of February. For further information contact us at <a href="mailto:carlos.mascias@foundation29.org">carlos.mascias@foundation29.org</a></h4>
    </div>
    <p style='margin-top:10px;font-size:13px;'>
      Due to the large number of requests we receive we will have to perform a selection and classification process and we cannot guarantee that your request will be approved. The selection of patients is done by strict medical criteria. If the request is not approved we would like to continue to accompany you on the path to diagnosis, we want to build a community of patients that makes your voice heard.
    </p>
    <p style='margin-top:10px;font-size:13px;'>
      By responding to this email, which will contain the requested report, you consent to the processing of the health data of the child you represent as a parent/guardian, in order to evaluate your participation in the program Together towards the diagnosis promoted by Foundation 29.
    </p>
  </footer>
</html>
