<html>
  <head>

  </head>
<body>
  <div>
    {{{body}}}
  </div>
</body>
  <footer>
    <div>
      <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border-style:none;">
        <tbody>
          <tr>
            <td rowspan="4" style="padding:0 5.4pt;">
              <img height="40" width="108" src="https://www.dx29.ai/assets/img/logo-foundation-twentynine-footer.png" alt="Dx29">
            </td>
            <td style="padding:0 5.4pt;">
              <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;"><span lang="es" style="font-size:9pt;">Carlos Mascias</span><span lang="es" style="font-size:9pt;"></span></p>
            </td>
          </tr>
          <tr>
            <td style="padding:0 5.4pt;">
              <p style="font-size:11pt;font-family:Calibri,sans-serif;vertical-align:baseline;margin:0;">
              <span lang="es" style="font-size:9pt;">Director Médico</span></p>
            </td>
          </tr>
          <tr>
            <td style="padding:0 5.4pt;">
              <p style="font-size:11pt;font-family:Calibri,sans-serif;vertical-align:baseline;margin:0;">
              <span lang="es" style="font-size:9pt;"><a href="mailto:info@foundation29.org" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"><span style="color:#0563C1;">info</span><span style="color:#0563C1;">@foundation29.org</span></a>
              </span><span lang="es" style="font-size:9pt;"></span></p>
            </td>
          </tr>
          <tr>
            <td style="padding:0 5.4pt;">
              <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;"><span lang="es" style="font-size:9pt;"><a href="https://foundation29.org/" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"><span style="color:#0563C1;">foundation29.org</span></a>&nbsp;|
              <a href="http://www.dx29.ai/" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"><span style="color:#0563C1;">dx</span><span style="color:#0563C1;">29.ai</span></a></span><span lang="es" style="font-size:9pt;"></span></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div style="margin-top: 3em;">
      <h4>© 2020 Fundación 29 de Febrero. Para más información contacta con nosotros en <a href="mailto:info@foundation29.org">info@foundation29.org</a></h4>
    </div>

    <p style='margin-top:10px;font-size:13px;'>
      Debido al gran número de peticiones que recibimos tendremos que realizar un proceso de selección y clasificación y no podemos asegurarte que tu petición será aprobada. La selección de pacientes se hace por estrictos criterios médicos. Si la petición no es aprobada nos gustaría seguir acompañándote en el camino hacia el diagnóstico, queremos construir una comunidad de pacientes que haga que vuestra voz se oiga.
    </p>
    <p style='margin-top:10px;font-size:13px;'>
      Respondiendo a este email con el informe solicitado declaro que soy consiente el tratamiento de los datos de salud del menor al que represento como padre/madre/tutor con el objetivo de evaluar su participación en el programa Juntos hacia el diagnóstico promovido por Fundación 29.
    </p>
  </footer>
</html>
