<html>
  <head>

  </head>
<body>
  <div>
    {{{body}}}
  </div>
</body>
  <footer>
    <div>
      <table border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border-style:none;">
        <tbody>
          <tr>
            <td rowspan="4" style="padding:0 5.4pt;">
              <img height="40" width="70" src="https://www.dx29.ai/assets/img/logo-Dx29.png" alt="Dx29">
            </td>
            <td style="padding:0 5.4pt;">
              <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;"><span lang="es" style="font-size:9pt;">Dx29 Team</span><span lang="es" style="font-size:9pt;"></span></p>
            </td>
          </tr>
          <tr>
            <td style="padding:0 5.4pt;">
              <p style="font-size:11pt;font-family:Calibri,sans-serif;vertical-align:baseline;margin:0;">
              <span lang="es" style="font-size:9pt;"><a href="mailto:support@foundation29.org" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"><span style="color:#0563C1;">support</span><span style="color:#0563C1;">@foundation29.org</span></a>
              </span><span lang="es" style="font-size:9pt;"></span></p>
            </td>
          </tr>
          <tr>
            <td style="padding:0 5.4pt;">
              <p style="font-size:11pt;font-family:Calibri,sans-serif;margin:0;"><span lang="es" style="font-size:9pt;"><a href="https://foundation29.org/" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"><span style="color:#0563C1;">foundation29.org</span></a>&nbsp;|
              <a href="https://www.dx29.ai/?utm_medium=email&utm_source=footer&utm_campaign=data_sharing" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"><span style="color:#0563C1;">dx</span><span style="color:#0563C1;">29.ai</span></a></span><span lang="es" style="font-size:9pt;"></span></p>
            </td>
          </tr>
        </tbody>
      </table>
      <p>© 2021 Foundation 29 of February</p>
    </div>
  </footer>
</html>
