<html>
  <head>

  </head>
<body>
  <div>
    {{{body}}}
  </div>
</body>
  <footer>
    <div style="text-align:center; margin-top: 3em;">
      <img src="https://www.dx29.ai/assets/img/logo-foundation-twentynine-footer.png" alt="Foundation 29">
      <h4 style="color: #f49c20;">© 2020 Foundation Twenty-nine. All rights reserved <a href="mailto:info@foundation29.org">info@foundation29.org</a></h4>
    </div>
  </footer>
</html>
