<h1>Dx29 data results</h1>
<p>Expedition date: <strong>{{{dateHeader}}}</strong></p>
<p>In this report, the Dx29 user describes the patient's symptoms with the aim of improving patient-physician communication. It is recommended to take the report to the next medical visit so that both the patient and the physician can help to further refine the contents.</p>
<p>This report has been generated with Dx29, a diagnostic assistance tool through precision symptom description developed by Foundation 29 of February (<a href="www.foundation29.org">www.foundation29.org</a>). Together we accelerate the process of diagnosis of rare diseases and their treatment in an easy and simple way.</p>
<p><b>Symptoms:</b> <br> {{{symptoms}}}</p>
<p><b>Candidate diagnosis:</b> <br> {{{diseases}}}</p>
<br>
<p><b>Foundation 29:</b></p>
<p>We are a non-profit organisation that designs and creates tools for patients to manage their own data, revolutionising the diagnosis and management of rare diseases. We empower patients and doctors to use their medical data or their benefit and that of the community. We believe there is a better way to do things centred on the patient and their data.</p>
<p>For any questions or queries, please contact us at <a href="mailto:info@foundation29.org">info@foundation29.org</a> or reply to this email.</p>
<br>
<table border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center" style="border-radius: 5px; background-color: #f9423a;">
            <a href="https://app.dx29.ai/Identity/Account/Register" target="_blank" style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-weight: bold; text-decoration: none;border-radius: 5px; padding: 12px 18px; border: 1px solid #f9423a; display: inline-block;">Create user</a>
        </td>
    </tr>
</table>
<br>
<br>
