<h1>Dx29 results</h1>
<p><b>Symptoms:</b> <br> {{{symptoms}}}</p>
<p><b>Diseases:</b> <br> {{{diseases}}}</p>
<br>
  <p>This is the result of Dx29's evaluation. The symptoms are the symptoms you selected by doing the symptom curation that Dx29 automatically extracted from the text. The list of diseases is the list that our predictive model thinks are the closest match to the patient's symptomatic description. The list of diseases is the list that our predictive model thinks are the closest match to the patient's symptomatic description</p>
  <p>If you want to save these results you can register with Dx29 and access advanced functionalities, such as the possibility to save data from several patients and our most characteristic tool, the possibility to analyze the genetic information of the patient using a genetic test information file.</p>
<br>
<table border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center" style="border-radius: 5px; background-color: #f9423a;">
            <a href="https://app.dx29.ai/Identity/Account/Register" target="_blank" style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-weight: bold; text-decoration: none;border-radius: 5px; padding: 12px 18px; border: 1px solid #f9423a; display: inline-block;">Create user</a>
        </td>
    </tr>
</table>
<br>
<br>
