<h1>Dx29 results</h1>
<p><b>Symptoms:</b> <br> {{{symptoms}}}</p>
<p><b>Diseases:</b> <br> {{{diseases}}}</p>
<br>
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
<br>
<table border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center" style="border-radius: 5px; background-color: #f9423a;">
            <a href="https://app.dx29.ai/Identity/Account/Register" target="_blank" style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-weight: bold; text-decoration: none;border-radius: 5px; padding: 12px 18px; border: 1px solid #f9423a; display: inline-block;">Create user &rarr;</a>
        </td>
    </tr>
</table>
<br>
