<h1>Resultados de Dx29</h1>
<p><b>Mensaje:</b> <br> {{msg}}</p>
<p><b>Síntomas:</b> <br> {{{symptoms}}}</p>
<p><b>Enfermedades:</b> <br> {{{diseases}}}</p>
<br>
<p>Este es el resultado de la evaluación de Dx29. Los síntomas son los que has seleccionado haciendo la curación de los síntomas que Dx29 ha extraído automáticamente del texto. La lista de enfermedades es la lista que nuestro modelo predictivo cree que son las que más se acerca a la descripción sintomática del paciente.</p>
<p>Si quieres guardar estos resultados puede registrarte en Dx29 y acceder a funcionalidades avanzadas, como la posibilidad de guardar datos de varios pacientes y nuestra herramienta más característica, la posibilidad de analizar la información genética del paciente usando un archivo de información de un prueba genética.</p>
<br>
<table border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center" style="border-radius: 5px; background-color: #f9423a;">
            <a href="https://app.dx29.ai/Identity/Account/Register" target="_blank" style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-weight: bold; text-decoration: none;border-radius: 5px; padding: 12px 18px; border: 1px solid #f9423a; display: inline-block;">Crear usuario</a>
        </td>
    </tr>
</table>
<br>
<br>
