<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Dx29">
      </br>
</div>
<h4>Patient {{patientName}} has shared his data with you. Needs your professional expertise.</h4>
<p>
  Message: {{message}}
</p>
<p>
  You are already part of the team, so no need to do extra work. You will find a new case in your “Shared” list, where you will be able to see the data of this new patient. Click here to access directly: <a href="{{client_server}}/login">Go to Dx29</a> 
</p>
