<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Dx29">
      </br>
</div>
<h4>El paciente {{patientName}} ha compartido sus datos con usted. Necesita tu experiencia profesional</h4>
<p>
  Mensaje: {{message}}
</p>
<p>
  Ya eres parte del equipo, así que no tienes que hacer trabajo extra. Encontrará un nuevo caso en su lista "Compartido", donde podrá ver los datos de este nuevo paciente. Haga clic aquí para acceder directamente: <a href="{{client_server}}/login">Ir a Dx29</a>
</p>
