<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Health 29">
      </br>
</div>
<h4>Thanks for registering.</h4>
<p>Click on the following link to activate the account: <a href="{{client_server}}/login?email={{email}}&key={{key}}">Activate account</a></p>
