<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Health 29">
      </br>
</div>
<h4>Gracias por registrarse.</h4>
<p>Haga clic en el siguiente enlace para activar la cuenta: <a href="{{client_server}}/login?email={{email}}&key={{key}}">Activar cuenta</a></p>
