<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Dx29">
      </br>
</div>
<p>
  Hello {{userName}},
</p>
<p style='margin-top:10px;'>
  We have received your application to participate in the program <b style="font-size: 1.2em;">"Together towards a diagnostic"</b> by Fundación 29 de Febrero.
</p>
<p style='margin-top:10px;'>
  Unfortunately, according to your application your child does not meet the requirements of the program. If you think this is a mistake, please respond to this email by attaching a medical report with the relevant information.
</p>
<p style='margin-top:10px;'>
  We are very sorry that we cannot include your child at this time. We hope to be able to expand the criteria for inclusion soon to help more families. To give visibility to this problem, we suggest that you register at Dx29 as an undiagnosed patient. The more you are, the easier it will be to get the inclusion criteria expanded. But don't stop here, if you have problems accessing funds for genetic sequencing, your family, friends or your workplace could help.
</p>
<p style='margin-top:10px;'>
  Thank you very much for your interest in the program and do not hesitate to ask us any questions you may have by replying to this email.
</p>
<p>
  Yours faithfully,
</p>
<p>
  Carlos Mascias
</p>
<p>
  Medical Director
</p>
<p>
  Fundación 29 de Febrero
</p>
