<p>
  Hola {{userName}},
</p>
<p style='margin-top:10px;'>
  Hemos recibido tu solicitud para participar en el programa <b style="font-size: 1.2em;">Juntos hacia el diagnóstico</b> de Fundación 29 de Febrero.
</p>
<p style='margin-top:10px;'>
  Por desgracia, según tu solicitud tu hijo/a no cumple los requisitos del programa. Si crees que esto es un error, por favor responde a este email adjuntando un informe médico donde figure la información pertinente.
</p>
<p style='margin-top:10px;'>
  Sentimos mucho no poder incluirlo/a en estos momentos. Esperamos pronto poder ampliar los criterios para ayudar a más familias. Para dar visibilidad a este problema, te sugerimos que te registres en Dx29 como paciente sin diagnóstico. Cuantos más seáis más fácil será conseguir ampliar los criterios de inclusión. Pero no te pares aquí, si tienes problemas de acceso a fondos para la secuenciación genética, puedes tus familiares, amigos o tu lugar de trabajo podría ayudar.
</p>
<p style='margin-top:10px;'>
  Muchas gracias por tu interés en el programa y no dudes en preguntarnos cualquier duda que tengas respondiendo a este email.
</p>
<p>
  Atentamente,
</p>
