<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Dx29">
      </br>
</div>
<p>
  Apreciado/a paciente,
</p>
<p style='margin-top:10px;'>
  Hemos recibido tu solicitud para participar en el programa <b style="font-size: 1.2em;">Juntos hacia el diagnóstico</b> que lanza Fundación 29. Este programa intenta eliminar las barreras de acceso al test genético para pacientes jóvenes con epilepsia de posible origen genético. Para ello financiamos el test genético a pacientes que cumplan ciertos requerimientos.
</p>
<p style='margin-top:10px;'>
  Como has podido leer en la página, los requisitos para acceder son que el paciente tenga dos años o menos de edad, haya sufrido crisis epilépticas y tenga retraso en el desarrollo. Según tu solicitud, el paciente no cumple alguno (o ambos) de los requisitos, por tanto, no podemos incluirte en el Programa.
</p>
<p style='margin-top:10px;'>
  No obstante, te emplazamos a que visites nuestra web <a href="www.dx29.ai">www.dx29.ai</a>, donde encontrarás información sobre qué hacemos y las herramientas que desarrollamos para avanzar en el diagnóstico de enfermedades raras.
</p>
<p style='margin-top:10px;'>
  Si por algún motivo crees que te has equivocado al seleccionar las respuestas del formulario, por favor contacta con nosotros respondiendo a este mismo email y estudiaremos el caso.
</p>
<p>
  Muchas gracias desde Fundación 29,
</p>
