<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Dx29">
      </br>
</div>
<p>
  Apreciado/a paciente,
</p>
<p style='margin-top:10px;'>
 Has sido propuesto como participante en el programa de acceso al test genético de Fundación 29 de Febrero (F29) a través de la plataforma de soporte al diagnóstico Dx29. Este programa intenta eliminar las barreras de acceso a tests genéticos para pacientes jóvenes con epilepsia de posible origen genético.
</p>
<p style='margin-top:10px;'>
  Con el fin de partir de un caso vacío y no tratar con datos que provienen de dos fuentes distintas (el médico y tú), te pedimos que hagas llegar al médico una dirección de email diferente a la que tienes actualmente en Dx29, con la que se iniciará de nuevo la solicitud y partiremos de un caso “limpio”. Puedes enviársela a  {{clinicalEmail}}
</p>
<p style='margin-top:10px;'>
 El equipo de Dx29 está a su disposición para ayudar en cualquier duda que tenga.
</p>
<p>
  Atentamente,
</p>
