<p>
  Hola {{userName}},
</p>
<p style='margin-top:10px;'>
  We have received your application to participate in the program <b style="font-size: 1.2em;">Together towards the diagnosis</b> of Foundation 29. You have taken the first step.
</p>
<p style='margin-top:10px;'>
  Now we have to move forward together and for that we need a report from your child so that our medical team can evaluate the case. It is as simple as responding to this email and attaching a medical report on your child.
</p>
<p style='margin-top:10px;'>
  Please reply to this same email and do not change the identifier in the email's subject (the code you see in the subject line) as this will help us follow up on your request.
</p>
<p style='margin-top:10px;'>
  This will complete the second step of this journey. What's next? We will contact you with the necessary documentation to request the genetic test.
</p>
<p style='margin-top:10px;'>
  Attached in this email is a document with more detailed information about the program. We recommend that you read it to understand all the steps that you have ahead of you and that we will go through together.
</p>
<p style='margin-top:10px;'>
  Thank you very much for your interest in the program and do not hesitate to ask us any questions you may have by replying to this email.
</p>
<p>
  Yours faithfully,
</p>
