<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Dx29">
      </br>
</div>
<p>
  Apreciado/a paciente,
</p>
<p style='margin-top:10px;'>
  Ha sido propuesto como participante en el programa de acceso al test genético de Fundación 29 de Febrero (F29) a través de la plataforma de soporte al diagnóstico Dx29. Este programa intenta eliminar las barreras de acceso a tests genético para pacientes jóvenes con epilepsia de posible origen genético.
</p>
<p style='margin-top:10px;'>
  Iniciar el programa no garantiza que su caso sea aprobado para análisis dado el alto número de solicitudes. Para facilitar el proceso de aprobación, asegúrate de seguir los siguientes pasos que incluimos en este email. Pero, antes de nada, vamos a explicarte muy brevemente por qué hacemos esto (el archivo adjunto XXXXX contiene una explicación detallada).
</p>
<p style='margin-top:10px;'>
  ¿Por qué hacemos este test? La barrera de acceso al test genético impide que muchos pacientes de epilepsias genéticas y de otras enfermedades raras lleguen a un diagnóstico, lo que limita el acceso a terapias efectivas, así como la información sobre el manejo de la enfermedad. Hay muchos tipos de tests genéticos, cada uno capaz de dar respuestas a algunas preguntas. La secuenciación del genoma completo es capaz de dar respuestas a todas aquellas preguntas que a día de hoy se pueden responder. Es más, cuanto más sabemos del ADN, más preguntas podremos responder en base a este test sin necesidad de repetirlo.
</p>
<p style='margin-top:10px;'>
  Dada la delicada naturaleza de los datos y las posibles conclusiones que se pueda extraer como consecuencia de haber participado en el programa de secuenciación, hemos adjuntado la documentación necesaria que se debe firmar para formar parte del programa y pasar a la fase de evaluación del caso. La firma de esta documentación es un paso ineludible pues permite que F29 se haga cargo de la gestión de la información.
</p>
<p style='margin-top:10px;'>
  Adjunto a este email se encuentran los siguientes documentos a firmar:
  <ol>
    <li>Permiso necesario 1.</li>
    <li>Permiso necesario 2.</li>
  </ol>
</p>
<p style='margin-top:10px;'>
  Estos documentos deberán ser impresos, firmados y enviados adjuntos en respuesta a este email. Por favor, no modifique el identificador presente en el asunto del email (el código de 6 dígitos) puesto que nos sirve de identificador de la solicitud.
</p>
<p style='margin-top:10px;'>
  Adicionalmente, se adjunta también el documento de descripción del programa donde se explica el flujo del mismo.
</p>
<p style='margin-top:10px;'>
  Tras el envío de la documentación, esta será estudiada junto con la enviada por el/la médico. En caso de estar todo acorde a especificaciones se estudiará el caso y se notificará la decisión. El precio de estos tests es alto y F29 está intentando cubrir los tests de aquellos pacientes que no se lo puedan permitir. Si en tu caso puedes permitírtelo, rogamos que realices tú el pago al precio rebajado que hemos conseguido para este programa. De esta manera estarás ayudando a pacientes con menos recursos a seguir el mismo camino que tú.
</p>
<p style='margin-top:10px;'>
  Esperamos que este programa sea de ayuda. Importante destacar que Dx29 no ofrece soluciones, sino que facilita el proceso de análisis y ofrece posibles explicaciones a los datos enviados de manera que el médico y su equipo puedan llegar a conclusiones certeras más fácilmente. Dx29 no hace magia, sino que le prepara el escenario al equipo médico. El equipo de Dx29 está a tu disposición para ayudarte en cualquier duda que tengas.
</p>
<p>
  Atentamente,
</p>
