<p>
  Hola {{userName}},
</p>
<p style='margin-top:10px;'>
  Hemos recibido tu solicitud para participar en el programa <b style="font-size: 1.2em;">Juntos hacia el diagnóstico</b> de Fundación 29.  Ya has dado el primer paso.
</p>
<p style='margin-top:10px;'>
  Ahora tenemos que avanzar juntos y para eso necesitamos un informe de tu hijo/a para que nuestro equipo médico pueda evaluar el caso. Es tan sencillo como que respondas a este email adjuntando un informe médico de tu hijo/a.
</p>
<p style='margin-top:10px;'>
  Por favor, responde a este mismo mensaje y no modifiques el identificador en el asunto del email (el código que ves en el asunto) puesto que nos sirve en el seguimiento de tu solicitud.
</p>
<p style='margin-top:10px;'>
  Con esto habrás completado el segundo paso de este viaje. ¿Que vendrá después? Nos pondremos en contacto contigo con la documentación necesaria para pedir el test genético.
</p>
<p style='margin-top:10px;'>
  Adjunto en este email hay un documento con información más detallada del programa. Te recomendamos que lo leas para entender bien todos los pasos que tienes por delante y que recorremos juntos.
</p>
<p style='margin-top:10px;'>
  Muchas gracias por tu interés en el programa y no dudes en preguntarnos cualquier duda que tengas respondiendo a este mensaje.
</p>
<p>
  Atentamente,
</p>
