<p>Thank you very much revolutionaries for donating your symptoms.</p>
<br>
<p>With your contribution you are helping many patients to get a diagnosis and the entire rare disease community to benefit. Welcome to the revolution.</p>
<br>
<p>At Foundation 29 we have many initiatives that may be of interest to you. That is why we will keep you informed of future developments in future communications. It will take a few weeks as we first want to reach a large number of revolutionaries like you to help us build an updated database.</p>
<br>
<p>Best regards,</p>
