<p>Muchas gracias revolicionari@ por donar tus síntomas.</p>
<br>
<p>Con tu contribución estás ayudando a que muchos pacientes puedan tener un diagnóstico y todda la comunidad de las enferemedades raras se beneficie. Bienvenido a la revolución.</p>
<br>
<p>En Fundación 29 tenemos muchas iniciativas que pueden ser de tu interés. Por ello te iremos informando con las futuras novedades en siguientes comunicaciones.</p>
<br>
<p>Un abrazo,</p>
