<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Dx29">
      </br>
</div>
<p>
  Apreciado/a,
</p>
<p style='margin-top:10px;'>
  El paciente {{patientEmail}}, para el que ha solicitado inclusión en el programa de test genético ya tiene su propia cuenta en Dx29.
</p>
<p style='margin-top:10px;'>
  Con el fin de no tratar con datos que provienen de dos fuentes distintas, hemos pedido al paciente que le haga llegar una nueva cuenta de correo, con la que usted debe <b>iniciar de nuevo la solicitud</b>, y partir así de un caso limpio.
</p>
<p style='margin-top:10px;'>
 El equipo de Dx29 está a su disposición para ayudar en cualquier duda que tenga.
</p>
<p>
  Atentamente,
</p>
