<div style="text-align:center;">
  <img src="https://www.dx29.ai/assets/img/logo-Dx29.png" alt="Dx29">
      </br>
</div>
<h4>Status of Monarch service</h4>
<div>
  <h5>STATUS:</h5>
  <p>Down</p>
  <h5>COMMUNICATION:</h5>
  <p>The Monarch service is down.</p>
  <p></p>
</div>
