<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Dx29">
      </br>
</div>
<p>
  Apreciado {{clinicalEmail}},
</p>
<p style='margin-top:10px;'>
  Le damos la bienvenida al programa de acceso al test genético de Fundación 29 de Febrero (F29) a través de Dx29, donde intentamos aportar secuenciación del genoma a pacientes jóvenes con epilepsia de posible origen genético. Iniciar el programa no garantiza que el caso propuesto sea aprobado para análisis dado el alto número de solicitudes. Para facilitar el proceso de aprobación, se recomienda que el caso en Dx29 tenga adjuntos informes médicos.
</p>
<p style='margin-top:10px;'>
  Hemos enviado un email al/la paciente que quiere introducir al programa para informarle del objetivo y de los pasos que ambos seguirán dentro del programa. Dada la delicada naturaleza de los datos y las posibles conclusiones que se pueda extraer como consecuencia de haber participado en el programa de secuenciación, hemos adjuntado la documentación necesaria que se debe firmar. La firma de esta documentación es un paso ineludible pues permite que F29 se haga cargo de la gestión de la información.
</p>
<p style='margin-top:10px;'>
  Adjunto a este email se encuentran los siguientes documentos a firmar:
  <ol>
    <li>Prescripción de test genético.</li>
    <li>Declaración de asesoría genética previa.</li>
  </ol>
</p>
<p style='margin-top:10px;'>
  Estos documentos deberán ser impresos, firmados y enviados adjuntos en respuesta a este email. Por favor, no modifique <b>el identificador</b> presente en el asunto del email (el código de 6 dígitos) puesto que nos sirve de identificador de la solicitud.
</p>
<p style='margin-top:10px;'>
  Adicionalmente, se adjunta también el documento de descripción del programa donde se explica el flujo del mismo.
</p>
<p style='margin-top:10px;'>
  Tras el envío de la documentación, esta será estudiada junto con la enviada por el/la paciente. En caso de estar todo acorde a especificaciones se estudiará el caso y se notificará la decisión.
</p>
<p style='margin-top:10px;'>
  Esperamos que este programa sea de ayuda y recuerde que Dx29 no ofrece soluciones, sino que facilita el proceso de análisis y ofrece posibles explicaciones a los datos enviados. En caso de duda, se recomienda que comparta el caso con un genetista especializado. Esta compartición se puede realizar directamente desde Dx29 para facilitar la comunicación. El equipo de Dx29 está a su disposición para ayudarle a llegar a las conclusiones correctas.
</p>
<p>
  Atentamente,
</p>
