<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Dx29">
      </br>
</div>
<p>
  Apreciado/a paciente,
</p>
<p style='margin-top:10px;'>
  Hemos recibido tu solicitud para participar en el programa <b style="font-size: 1.2em;">Juntos hacia el diagnóstico</b> que lanza Fundación 29. Este programa intenta eliminar las barreras de acceso al test genético para pacientes jóvenes con epilepsia de posible origen genético.
</p>
<p style='margin-top:10px;'>
  Solicitar el programa no garantiza que tu caso sea aprobado, debido al gran número de peticiones que recibimos. Para facilitar el proceso de aprobación, asegúrate de seguir los siguientes pasos que incluimos en este email. Pero, antes de nada, vamos a explicarte muy brevemente por qué hacemos esto.
</p>
<p style='margin-top:10px;'>
  ¿Por qué hacemos este test? La barrera de acceso al test genético impide que muchos pacientes de epilepsias genéticas y de otras enfermedades raras lleguen a un diagnóstico, lo que limita el acceso a terapias efectivas, así como la información sobre el manejo de la enfermedad. Hay muchos tipos de tests genéticos, cada uno capaz de dar respuestas a algunas preguntas. La secuenciación del genoma completo es capaz de dar respuestas a todas aquellas preguntas que a día de hoy se pueden responder. Es más, cuanto más sabemos del ADN, más preguntas podremos responder en base a este test sin necesidad de repetirlo.
</p>
<p style='margin-top:10px;'>
  En nuestra web <a href="www.dx29.ai">www.dx29.ai</a> tienes más información, y adjunto a este email encontrarás el archivo adjunto XXXXX, que contiene una explicación detallada del programa.
</p>
<p style='margin-top:10px;'>
  Dada la delicada naturaleza de los datos y las posibles conclusiones que se puedan extraer como consecuencia de realizar un test genético, <b>es necesario que hables con tu médico, para que te pueda prescribir el test y te informe sobre el mismo.</b>
</p>
<p style='margin-top:10px;'>
  Adjunto a este email se encuentran los siguientes documentos, que puedes compartir con tu médico en caso de que sea necesario. Tu médico también puede utilizar sus propios materiales, lo importante es que esta conversación tenga lugar, y tú no tengas ninguna duda antes de iniciar el proceso:
  <ol>
    <li>Documento informativo – asesoría genética </li>
    <li>Prescripción</li>
  </ol>
</p>
<p style='margin-top:10px;'>
  Estos documentos deberán ser impresos, firmados y enviados adjuntos en respuesta a este email. Nos vale con que adjuntes una fotografía. <b>Por favor, responde sobre este mismo email y no modifiques el identificador presente en el asunto del email</b> (el código de X dígitos) puesto que nos sirve de identificador de tu solicitud.
</p>

<span style='margin-top:10px;'>
  <h4>RESUMEN DEL PROCESO (estás en el paso 2) </h4>
  <ol>
    <li><span style="color:green;">HECHO --></span> Apúntate enviando este formulario.</li>
    <li><span style="color:blue;">EN PROGRESO --></span> Habla con tu médico para que te asesore y prescriba el test genético. Puedes ayudarlo con los documentos que te enviamos en este email.</li>
    <li><span style="color:orange;">CUANDO RECIBAMOS LOS DOCUMENTOS FIRMADOS --></span> Encargas el test genético. Te ayudaremos y nos haremos cargo del coste.</li>
    <li><span style="color:orange;">DESPUES DE ENCARGAR EL TEST --></span> Recibirás un kit para la toma de muestras del laboratorio. También te ayudaremos, si lo necesitas</li>
    <li><span style="color:orange;">AL RECIBIR EL RESULTADO DEL TEST --></span> Ponte en contacto con tu médico y envíale los datos para que los analice con su equipo. Dx29 os ayudará a realizar esta tarea.</li>
  </ol>
</span>

<p>
  Atentamente,
</p>
