<p>
  Hola {{userName}},
</p>
<p style='margin-top:10px;'>
  We have received your application to participate in the program <b style="font-size: 1.2em;">Together towards a diagnosis</b> by Fundación 29 de Febrero.
</p>
<p style='margin-top:10px;'>
  Congratulations, you have taken the first step in our journey together towards diagnosis. Now we are at step 2. We want to verify the data you uploaded. It's as simple as you reply to this email by attaching a medical report on your child.
</p>
<p style='margin-top:10px;'>
  Please reply to this same email and do not change the identifier in the email's subject (the XXXXX digit code) as this will help us to track your request.
</p>
<p style='margin-top:10px;'>
  With this you have completed the second step of this journey. What will come next? We will contact you with the necessary documentation to request the genetic test.
</p>
<p style='margin-top:10px;'>
  Attached in this email is a document with more detailed information about the program. We recommend that you read it to understand the steps that lie ahead.
</p>
<p style='margin-top:10px;'>
  Thank you very much for your interest in the program and do not hesitate to ask us any questions you may have by replying to this email.
</p>
<p style='margin-top:10px;font-size:13px;'>
  Due to the large number of requests we receive we cannot guarantee that your case will be approved. Please, be sure to follow the steps included in this email.
</p>
<p>
  Yours faithfully,
</p>
