<p>
  Hola {{userName}},
</p>
<p style='margin-top:10px;'>
  Hemos recibido tu solicitud para participar en el programa <b style="font-size: 1.2em;">Juntos hacia el diagnóstico</b> de Fundación 29 de Febrero.
</p>
<p style='margin-top:10px;'>
  Enhorabuena, has dado el primer paso en nuestro camino juntos hacia el diagnóstico. Ahora estamos en el paso 2. Queremos verificar los datos que subiste. Es tan sencillo como que respondas a este email adjuntando un informe médico de tu hijo/a.
</p>
<p style='margin-top:10px;'>
  Por favor, responde sobre este mismo email y no modifiques el identificador en el asunto del email (el código de XXXXX dígitos) puesto que nos sirve en el seguimiento de tu solicitud.
</p>
<p style='margin-top:10px;'>
  Con esto habrás completado el segundo paso de este viaje. ¿Que vendrá después? Nos pondremos en contacto con documentación necesaria para pedir el test genético.
</p>
<p style='margin-top:10px;'>
  Adjunto en este email hay un documento con información más detallada del programa. Te recomendamos que lo leas para entender los pasos que tienes por delante.
</p>
<p style='margin-top:10px;'>
  Muchas gracias por tu interés en el programa y no dudes en preguntarnos cualquier duda que tengas respondiendo a este email.
</p>
<p style='margin-top:10px;font-size:13px;'>
  Debido al gran número de peticiones que recibimos no podemos garantizar que tu caso sea aprobado. Por favor, asegúrate de seguir los pasos que incluimos en este email.
</p>
<p>
  Atentamente,
</p>
