<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Dx29">
      </br>
</div>
<h4>A friend invited you to use Dx29, discover what’s in it for you.</h4>
<p>
  Dx29 wants to change the way we do medicine. The information coming from patients like you is very valuable to improve diagnostic support tools. We you to build the best database in the world with information on the symptoms of rare diseases. We will use that information to build the best diagnostic support tool that has ever existed and give it free for everyone to use.
</p>
<p>Dx29 is a tool that can help you and other rare disease patients. We recommend you visit <a href="{{client_server}}/patient">dx29.ai/patient</a> to know more before registering.</p>
