<p>Hello,</p>
<p><b>{{patientName}}</b> would like to invite you to use <a href="https://www.dx29.ai/?utm_medium=email&utm_source=patient_physician&utm_campaign=data_sharing">Dx29</a>. <b>{{patientName}}</b> uses Dx29 to organize their medical reports, their list of standardized symptoms in the corresponding medical vocabulary and, if available, their genetic data. All this information is organized and easily shareable with your doctor via email. In Dx29 your doctor can analyze the data to see which rare diseases fit with it.</p>
<p>
With Dx29 we want to accelerate the diagnosis of rare diseases. Dx29 is a free website where your data remains in your possession. It is created by Foundation 29, a non-profit foundation that wants rare disease patients to find a diagnosis as soon as possible.
</p>
<p><a href="{{client_server}}">Try Dx29 following this link.</a></p>
