<p>Hola,</p>
<p><b>{{patientName}}</b> quiere invitarte a usar <a href="https://www.dx29.ai/?utm_medium=email&utm_source=patient_physician&utm_campaign=data_sharing">Dx29</a>. <b>{{patientName}}</b> utiliza Dx29 para organizar sus informes médicos, su lista de síntomas estandarizados en el vocabulario médico correspondiente y, si los hubiera, sus datos genéticos. Toda esta información está organizada y es fácilmente compartible con tu médico a través de email. En Dx29 tu médico los puede analizar para ver qué enfermedades raras encajan con ellos.</p>
<p>
Con Dx29 queremos acelerar el diagnóstico de enfermedades raras. Dx29 es una web gratuita donde tus datos permanecen en tu poder. Está creada por Fundación 29, una fundación sin ánimo de lucro que quiere que los pacientes de enfermedades raras encuentren un diagnóstico lo antes posible.
</p>
<p><a href="{{client_server}}">Prueba Dx29 siguiendo este enlace.</a></p>
