<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Dx29">
      </br>
</div>
<h4>Un amigo te invitó a usar Dx29, descubra lo que hay para usted.</h4>
<p>
  Dx29 quiere cambiar la forma en que hacemos medicina. La información procedente de pacientes como usted es muy valiosa para mejorar las herramientas de apoyo al diagnóstico. Nosotros le ayudaremos a construir la mejor base de datos del mundo con información sobre los síntomas de las enfermedades raras. Usaremos esa información para construir la mejor herramienta de apoyo de diagnóstico que haya existido y la daremos gratis para que todos la usen.
</p>
<p>Dx29 es una herramienta que puede ayudarle a usted y a otros pacientes de enfermedades raras. Le recomendamos que visite <a href="{{client_server}}/patient">dx29.ai/patient</a> para saber más antes de registrarse.</p>
