<h1>Resultados de Dx29</h1>
<p>Fecha de expedición: <strong>{{{dateHeader}}}</strong></p>
<p>En este informe, el usuario de Dx29 describe los síntomas del paciente con el objetivo de mejorar la comunicación médico-paciente. Se recomienda llevar el informe a la siguiente visita médica para que tanto el paciente como el médico ayuden a precisar más los contenidos.</p>
<p>Este informe ha sido generado con Dx29, una herramienta de asistencia al diagnóstico a través de la descripción sintomatológica de precisión desarrollada por Fundación 29 de Febrero (<a href="www.foundation29.org">www.foundation29.org</a>). Juntos aceleramos el proceso de diagnóstico de enfermedades raras y su tratamiento de una forma fácil y sencilla.</p>
<p><b>El remitente añadió un mensaje personal:</b> <br> {{msg}}</p>
<p><b>Síntomas:</b> <br> {{{symptoms}}}</p>
<p><b>Diagnóstico:</b> <br> {{{disease}}}</p>
<br>
<p><b>Fundación 29:</b></p>
<p>Somos una organización sin ánimo de lucro que diseña y crea herramientas para la gestión de los pacientes de sus propios datos, revolucionando el diagnóstico y el manejo de las enfermedades raras. Damos el poder a los pacientes y los médicos para que utilicen sus datos médicos en su beneficio y el de la comunidad. Creemos que hay una forma mejor de hacer las cosas centrados en el paciente y sus datos.</p>
<p>Para cualquier duda o consulta contacta con nosotros en <a href="mailto:info@foundation29.org">info@foundation29.org</a> o responde a este correo electrónico.</p>
<br>
<table border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td align="center" style="border-radius: 5px; background-color: #f9423a;">
            <a href="https://app.dx29.ai/Identity/Account/Register" target="_blank" style="font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; font-weight: bold; text-decoration: none;border-radius: 5px; padding: 12px 18px; border: 1px solid #f9423a; display: inline-block;">Crear usuario</a>
        </td>
    </tr>
</table>
<br>
<br>
