<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Dx29">
      </br>
</div>
<h4>Information on the request to share</h4>
<p>
  The patient {{patientEmail}}
</p>
<p>
  Message: {{message}}
</p>
<p>
  Dx29 wants to change the way we make medicine. Information from patients is so valuable that it can be used to improve diagnostic tools. We want you to help us build the best database in the world with information about the symptoms of rare diseases. We want that information to be used to build the best diagnostic tool that has ever existed.
</p>
<p>Find out how you can help your patient and others. <a href="{{client_server}}">Visit www.dx29.ai!</a></p>
