<div style="text-align:center;">
  <img src="{{urlImg}}" alt="Dx29">
      </br>
</div>
<h4>Información de la petición de compatir</h4>
<p>
  El paciente {{patientEmail}}
</p>
<p>
  Mensaje: {{message}}
</p>
<p>
  Dx29 quiere cambiar la forma en que hacemos medicina. La información procedente de los pacientes es tan valiosa que puede utilizarse para mejorar las herramientas de diagnóstico. Queremos que nos ayude a construir la mejor base de datos del mundo con información sobre los síntomas de las enfermedades raras. Queremos que esa información se utilice para construir la mejor herramienta de diagnóstico que jamás haya existido.
</p>
<p>Descubra cómo puede ayudar a su paciente y a los demás. <a href="{{client_server}}">Visite www.dx29.ai!</a></p>
